<!DOCTYPE html>
<html>
<head>
<style>
h1 {font-family: verdana; color: #FBEEC1;}
body {background-color: #659DBD;}
.name {font-family:verdana; color: #FBEEC1; padding-bottom: 30px;}
</style>

<h1>Create Intrest</h1>
<form id="intrest_form" method="post" action="{% url 'matemaker:add_intrest' %}">
  <div class = "name">
    Intrest Name: <input type="text" name="genrename" value="" size="50" />
  </div>

    <div class="select" style="width:200px;">
      <div class = "name">
        Genre:
      </div>

      <select>
        <option >Sports</option>
        <option>Art</option>
        <option >Music</option>
     </select>

     <div class = "name">
     </br>
       Description:
     </div>

   <TEXTAREA Name="content" ROWS="10" COLS="75"></TEXTAREA>

    <input type="submit" name="submit" value="Create Intrest"/>
</form>
