<!doctype html>
<title>Example</title>
<style>
body {background-color: #659DBD;}
#grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
#grid > div {
  background: #DAAD86;
  font-family: Verdana;
  color: #FBEEC1;
  font-size: 4vw;
  padding: 10px;
}

.a {font-family: Verdana; color: #FBEEC1; font-size: 20px;}

</style>
<div id="grid">
  <div>Sports</div>
  <div>Music</div>
  <div>Fashion</div>
  <div>Art</div>
  <div>Technology</div>
  <div>Health</div>
  <div>Education</div>
  <div>News</div>
  <div>Food</div>
</div>

<div class= "a">
<a href url="add genre">Add Genre</a>
</div>
