<!DOCTYPE html>
<html>
<head>
<style>
h1 {font-family: verdana; color: #FBEEC1;}
body {background-color: #659DBD;}
.username {font-family:verdana; color: #FBEEC1; padding-bottom: 30px;}
.password {font-family:verdana; color: #FBEEC1; padding-bottom: 30px;}
</style>

<h1>Login to Matemaker</h1>
<form id="login_form" method="post" action="{% url 'matemaker:login' %}">
    {% csrf_token %}
    <div class = "username">
    Username: <input type="text" name="username" value="" size="50" />
    </div>
    <div class = "password">
    Password: <input type="password" name="password" value="" size="50" />
    </div>

    <input type="submit" value="Submit" />
</form>
