{% load staticfiles %}
{% if posts %}
    {% for p in posts %}
        <div>
        <h2> {{ p.poster }} </h2> 
            {{ p.message }} {{p.count_like}}
            <form action="{% url 'matemaker:like' genre.slug interest.slug p %}" method=POST>
                {% csrf_token %}
                <button type="submit", name="post_id", value="{{ p.id }}", class="btn likebtn">
                <img src="{% static 'images/like.jpg' %}"   alt="Like" /, width="20"></button>
            </form>
        </div>
    {% endfor %}
{% else %}
    <h1> No posts (yet!) </h1>
{% endif %}