{% load staticfiles %}
{% if posts %}
    {% for p in posts %}
        <li>
        <h2> <a href="{% url 'matemaker:profile' p.poster %}">{{ p.poster }}</a> {{p.date}}</h2> 
            {{ p.message }} 
            <form action="{% url 'matemaker:like' genre.slug interest.slug p %}" method=POST>
                {% csrf_token %}
                <button type="submit", name="post_id", value="{{ p.id }}", class="btn likebtn">
                <img src="{% static 'images/like.jpg' %}"   alt="Like" /, width="20"></button>
                {{p.count_like}}
            </form>
        </li>
    {% endfor %}
{% else %}
    <h1> No posts (yet!) </h1>
{% endif %}